In [67]:
import geopandas
import pandas as pd
import glob
import shapefile
from tqdm import tqdm
import numpy as np

In [2]:
shp_files = glob.glob('/home/yangwenhao/local/project/weibo_filter/app/data/tianjin/*.shp')

places_names = []
for f in tqdm(shp_files):
    x = geopandas.read_file(f, engine="pyogrio")
    places_names.append(x.name)

100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 23/23 [00:38<00:00,  1.66s/it]

In [6]:
names = pd.concat(places_names, axis=0)

In [30]:
names.head(2)

0    元记电气焊补胎钣金
1       元汇津通卸载
Name: name, dtype: object

In [11]:
names.to_csv('tianjin.csv', index=False)

In [11]:
sf = shapefile.Reader('/home/yangwenhao/local/project/weibo_filter/app/data/tianjin/天津市_公共设施_202209.shp')

In [ ]:
for s in sf:
    print(s.record[0])

In [14]:
import xlrd3

In [15]:
data = xlrd3.open_workbook('/home/yangwenhao/local/project/weibo_filter/app/data/first_2w.xls')

In [16]:
table = data.sheets()[0]          #通过索引顺序获取

In [78]:
texts = []
for i in range(1, table.nrows):
    texts.append(table.row(i)[5].value)
    
texts = pd.DataFrame(texts, columns=['text'])
texts.insert(1, 'places', pd.Series([[]]*len(texts)))

In [79]:
# i.append('t') for i in texts.head(2).places.to_list()

In [ ]:
places = []
sparse_matirx = []

for i in tqdm(names.unique()):
    
    result = texts.text.str.contains(i)
    
    if result.to_numpy().sum() > 0:
        places.append(i)
        sparse_matirx.append(result.to_numpy())

        # break
        # texts[texts.text.str.contains(i)].places = texts[texts.text.str.contains(i)].places.to_list().append(i)

  0%|                                                                                                                                                                                 | 0/700182 [00:00<?, ?it/s]/tmp/ipykernel_439577/336627351.py:6: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  result = texts.text.str.contains(i)
 33%|█████████████████████████████████████████████████████▎                                                                                                             | 229086/700182 [04:59<10:22, 757.17it/s]

In [76]:
len(places)

1

In [47]:
for i in texts.places.values:
    if len(i) > 0:
        print(i)

In [66]:
np.unique(names.values)

NameError: name 'np' is not defined

In [39]:
texts.text.str.contains('天津').to_numpy().sum()

6174

In [65]:
texts

,text,places,维修,公司,工厂,OPPO
0,River lounge opening party @ The St. Regis Tia...,[],False,False,False,False
1,> 苏帮袁Sue Cuisine <\n#汤圆好食##TangYuan's Life#\n\...,[],False,False,False,False
2,<年轻人>构想前程，<老年人>喜爱回忆。\n《1956年》<憨厚朴实听话爱干活>，农村刚出来...,[],False,False,False,False
3,<锦胜雾森>天津津南区蓝光水果侠喷雾造景项目，景区乐园雾森造雾，人造仙境设备制造公司,[],False,True,False,False
4,天津,[],False,False,False,False
...,...,...,...,...,...,...
6237,#春游季##天津动物园#,[],False,False,False,False
6238,#春游季##五一放假4天##3月去哪儿玩# 今天气温降低，但是天光大好。春季如何不赏花？——...,[],False,False,False,False
6239,#春运正式开启# 天津机场,[],False,False,False,False
6240,#春韵##宝宝的少女心# 感谢小天\n@天津大学 大美校园活动的奖品\n卡贴好可爱 好多天大...,[],False,False,False,False
6241,#春韵##花草#考虑要卖掉这天津的房子，说实在还真舍不得这小区的绿化环境 2天津,[],False,False,False,False